body {
 font-family: Arial, sans-serif;
    background: repeating-linear-gradient(
        190deg,
        rgba(255, 0, 0, 0.5) 40px,
        rgba(255, 153, 0, 0.5) 80px,
        rgba(255, 255, 0, 0.5) 120px,
        rgba(0, 255, 0, 0.5) 160px,
        rgba(0, 0, 255, 0.5) 200px,
        rgba(75, 0, 130, 0.5) 240px,
        rgba(238, 130, 238, 0.5) 280px,
        rgba(255, 0, 0, 0.5) 300px
      ), repeating-linear-gradient(
        -190deg,
        rgba(255, 0, 0, 0.5) 30px,
        rgba(255, 153, 0, 0.5) 60px,
        rgba(255, 255, 0, 0.5) 90px,
        rgba(0, 255, 0, 0.5) 120px,
        rgba(0, 0, 255, 0.5) 150px,
        rgba(75, 0, 130, 0.5) 180px,
        rgba(238, 130, 238, 0.5) 210px,
        rgba(255, 0, 0, 0.5) 230px
      ), repeating-linear-gradient(23deg, red 50px, orange 100px, yellow 150px, green
          200px, blue 250px, indigo 300px, violet 350px, red 370px);	
}

header {
    background-color:#98b9dd;
    text-align: center;
    margin-bottom: 20px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    border-radius: 16px;
	background: rgba(152, 185, 221, 0.9); 
}

h1 {
    color: #333;
}

main {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    border-radius: 16px;
    margin: 0 auto;
    max-width: 800px;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
	padding-right:0px
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#InfoClimat {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
	display:grid;
	grid-template-rows: 1fr 1fr 1fr ;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-areas:
	"titre titre titre titre "
	"tmin tmax prob heure"
	"termo termo climat climat";
	justify-items: center; 
    align-items: center; 
    gap: 20px; 
    max-width: 800px; 
	max-height: 400px;
	
	
}
#InfoClimat h2{
	grid-area:titre;
}

#InfoClimat #tmin{
	grid-area:tmin;
	
}
#InfoClimat #climat{
	grid-area:climat;
	
}
#InfoClimat #termo{
	grid-area:termo;
	width: 77.75px; 
	height: 174px;
}
#InfoClimat #tmax{
	grid-area:tmax;
	
}
#InfoClimat #prob{
	grid-area:prob;
	
}
#InfoClimat #heure{
	grid-area:heure;
	
}
.masque {
    display: none;
}
nav {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    margin-top: 2%;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}
nav:hover {
    background-color: #0056b3;
}
footer {
    display : flex;
    text-align: center;
    padding-bottom: 1px;
    border-top: 1px solid #ccc;
    max-width: 800px;
    background: rgba(255, 255, 255, 0.5); 
	border-radius: 5px;
	margin-top: 20px;
	margin-left:auto;
    margin-right:auto;	
}
@media screen and (max-width: 850px) {
    #InfoClimat {
        display: grid;
        grid-template-rows: auto auto auto auto;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "titre titre"
            "tmin termo"
            "tmax termo"
            "prob climat"
            "heure climat";
        justify-items: center;
        align-items: center;
        gap: 20px;
        max-width: 100%;
        max-height: none;
    }

    #InfoClimat #termo {
        width: auto;
        height: auto;
    }

    #InfoClimat #climat {
        width: auto;
        height: auto;
    }
	body {
    margin-left:5%;
    margin-right:5%;
    background-color: linear-gradient(to bottom right, blue, pink);
	
	}
}

